.card {
  border: 3px solid black;
  border-radius: 10px;
  width: 600px;
}

.img {
  background-color: darkgray;
  border-radius: 50%;
  width: 300px;
}

.imgThumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 30px;
}

.textBig {
  font-size: 22px;
}

.textBold {
  font-weight: 700;
}

.textGrey {
  color: grey;
}

.list {
  display: flex;
}

.item {
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
  width: 100%;
}

.clearBorderRight {
  border-right: none;
}

.clearLeftBorderRadius {
  border-bottom-left-radius: 10px;
}

.clearRightBorderRadius {
  border-bottom-right-radius: 10px;
}
