.table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.tableRow {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  width: calc(100% / 3);
}

.textMod {
  text-transform: capitalize;
  text-align: left;
  display: block;
  width: 120px;
  margin: 0 auto;
}

.columnName {
  color: white;
  background-color: rgb(45, 45, 45);
}

.tableColor:nth-child(odd) {
  background-color: white;
}

.tableColor:nth-child(even) {
  background-color: rgb(200, 200, 200);
}
